.new-entry {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 25%;
}

.body-new-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.title-create {
  border: none;
  border-bottom: 2px solid rgb(137, 137, 137);
  margin-bottom: 10px;
}

.text-create {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  background-color: #ccc;
}

.dumbstuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}
