<app-navbar [title]="project.name"></app-navbar>

<body class="body-new-entry">
    <form class="new-entry">
        <mat-card-content>
            <span class="titele">Title of your new entry: </span>
            <input class="title-create" #boxTitle placeholder="Enter title" />
            <br />
            <span class="titele">Describe your progression here: </span>
            <input class="text-create" #boxText placeholder="Enter text" />
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="createValueInput(boxTitle.value, boxText.value)">Create</button>
        </mat-card-actions>
    </form>
    <br />
</body>

<div class="dumbstuff">
<div class="card">
  <p-timeline [value]="project.posts" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-post>
      <span class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2" [style.backgroundColor]="this.color">
          <i [ngClass]="this.icon"></i>
      </span>
      </ng-template>
      <ng-template pTemplate="content" let-post>
          <p-card [header]="post.title" [subheader]="post.createdAt">
              <p class="line-height-3 my-3">{{post.body}}</p>
          </p-card>
      </ng-template>
  </p-timeline>
</div>
</div>
