.card {
    max-width: 400px;
    margin: 1rem;
    cursor: pointer;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-content {
    margin-top: 1rem;
}
